
h1{
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: 'Poppins';
}

h4{
    color: grey;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
}

body {
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 100vh;            
              
}

.container{
    max-width: 80%;
}

.element{
    width: 200px;
    height: 45px;
    text-align: center;
    align-content: center;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    background-color: #adff11;
    margin: 10px;
}

.card{
    
    height: 350px;
    width: 300px;
    border-radius: 10px;
    background-color: #efffcf;
    margin: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border:  1px solid #adff11;
}

.ds{
    padding: 25px;
    color: black;
    text-align: center;

}

.list{

    color: black;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    font-size: 20px;
    color: black;
    font-family: 'Poppins';
}