
h1{
    color: #144EE3;
    text-align: center;
    font-size: 75px;
    font-family: 'Poppins';
}

h4{
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins';
}

body {
    background-color: #EBEDEF;
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 100vh;            
              
}

.container{
    max-width: 80%;
}

.element{
    width: 250px;
    height: 45px;
    text-align: center;
    align-content: center;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    background-color: #144EE3;
    margin: 20px;
    cursor: pointer;
}
.element:hover{
    background-color: black;
}

.card{
    width: 300px;
    border-radius: 15px;
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}

.ds{
    padding: 25px 35px 5px 35px;
    color: black;
    text-align: center;

}

.list{

    color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    font-size: 18px;
    color: black;
    font-family: 'Poppins';
}